﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.tableStriped thead tr {
	background-color: #ccc;
}

.tableStriped tbody tr {
	background-color: #eee;
}

	.tableStriped tbody tr:nth-child(even) {
		background-color: #fff;
	}
