﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Tasker</title>

</head>
<body>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2018 - Tasker by Christoph Perger</p>
		</footer>
	</div>

	<script src="~/dist/main.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
