﻿@{
	ViewData["Title"] = "Home Page";
}

@model IndexViewModel;

@section Scripts
	{
	<script>
		$(document).ready(function () {
			var viewModel =@Html.Raw(Json.Serialize(Model));
			tasker.initialize(viewModel, "/api/tasks/");
		});
	</script>
}

<div id="taskerPage">
	<div class="row">
		<div class="col-12">
			<div class="page-header">
				<h1>Tasker</h1>
			</div>
		</div>
	</div>
	<div class="row" id="createTask">
		<div class="col-6">
			<form id="createTaskForm">
				<div class="form-group">
					<label for="title">Task title</label>
					<input type="text" class="form-control" id="title" placeholder="Task title" required>
				</div>
				<div class="form-group">
					<label for="dueDate">Due date</label>
					<input type="date" class="form-control" id="dueDate" required>
				</div>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-light">
						<input type="radio" name="priority" value="low" autocomplete="off"> Low
					</label>
					<label class="btn btn-light active">
						<input type="radio" name="priority" value="medium" autocomplete="off" checked> Medium
					</label>
					<label class="btn btn-light">
						<input type="radio" name="priority" value="high" autocomplete="off"> High
					</label>
				</div>
				<div class="form-group">
					<label for="staff">Staff:</label>
					<select class="form-control" id="staff">
						@foreach (string staff in Model.Staff)
						{
							<option value="@staff">@staff</option>
						}
					</select>
				</div>


				<div class="mt-3">
					<input type="submit" class="btn btn-info" id="createBtn" value="Create task" />
				</div>
			</form>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			<table class="table tableStriped">
				<thead>
					<tr>
						<th data-bind="sort: { arr: tasks, prop: 'title' }">Title</th>
						<th data-bind="sort: { arr: tasks, prop: 'dueDate' }">Due date</th>
						<th data-bind="sort: { arr: tasks, prop: 'priority' }">Priority</th>
						<th data-bind="sort: { arr: tasks, prop: 'status' }">Status</th>
						<th data-bind="sort: { arr: tasks, prop: 'staff' }">Staff</th>
						<th></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: tasks">
					<tr data-bind="attr: { 'data-item-id': taskId }">
						<td data-bind="text: title"></td>
						<td data-bind="text: dueDate"></td>
						<td>
							<span data-bind="text: tasker.GetPriority(priority)"></span>
							<button type="button" class="btn btn-info" data-bind="visible: priority() != 1, click: $parent.lowPriority">Low</button>
							<button type="button" class="btn btn-info" data-bind="visible: priority() != 2, click: $parent.mediumPriority">Medium</button>
							<button type="button" class="btn btn-info" data-bind="visible: priority() != 3, click: $parent.highPriority">High</button>
						</td>
						<td>
							<span data-bind="text: tasker.GetStatus(status)"></span>
							<button type="button" class="btn btn-info" data-bind="visible: status() == 1, click: $parent.startTask">Start</button>
							<button type="button" class="btn btn-warning" data-bind="visible: status() == 2, click: $parent.stopTask">Stop</button>
							<button type="button" class="btn btn-info" data-bind="visible: status() == 2, click: $parent.doneTask">Finish</button>
						</td>
						<td data-bind="text: staff;"></td>
						<td><button class="btn btn-danger" data-bind="click: $parent.removeTask">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>